body {
  background-color: #000000;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 64px;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  color: white;
}

.button-wrapper {
  text-align: center;
  margin-top: 50px;
}

.youtube {
  background-color: #fd0202;
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.youtube:hover {
  background-color: #e60000;
}

.image-wrapper {
  text-align: center;
  margin-top: 50px;
}

.ritwan-image {
  width: 300px;
  height: 300px;
  background-image: radial-gradient(circle, #FF0000 0%, #FFA500 16.67%, #FFFF00 33.33%, #008000 50%, #0000FF 66.67%, #4B0082 83.33%, #EE82EE 100%);
  border-radius: 50%;
  display: inline-block;
  background-image: url('ritwan.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}
