body {
  background-color: #000000;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 64px;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  color: white;
}

.button-wrapper {
  text-align: center;
  margin-top: 50px;
}

.youtube {
  background-color: #fd0202;
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.youtube:hover {
  background-color: #e60000;
}

.image-wrapper {
  text-align: center;
  margin-top: 50px;
}

.ritwan-image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.ritwan-image::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: radial-gradient(circle, #FF0000 0%, #FFA500 16.67%, #FFFF00 33.33%, #008000 50%, #0000FF 66.67%, #4B0082 83.33%, #EE82EE 100%);
  animation: rotate 3s linear infinite;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
